.bg-costm {
    background: rgb(54, 193, 68);
    background: linear-gradient(
        180deg,
        rgba(54, 193, 68, 1) 13%,
        rgba(131, 58, 180, 1) 100%
    );
}
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
/* ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        } */

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
